h1 {
    color:rgb(27, 98, 239);
    text-align: center;
    font-size: tahoma;
    font-size: 50px;
}

h2 {
    color:rgb(27, 98, 239);
    text-align: center;
    font-size: tahoma;
    font-size: 100px;
}

form input,
form textarea {
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: none;
}

form button {
    display: block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
}

form button hover {
    background-color: #046193;
}

textarea {
    resize: none;
}

.boton {
    display: block;
    text-decoration: none;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    font-family: "Roboto", sans-serif;
}

.boton hover {
    background-color: #046193;
}

.contenedor {
    padding: 60px;
    max-width: 400px;
    background-color: #E7E7E7;
    margin: 0 auto;
    font-family:"Roboto", sans-serif;
}